# TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
s = "Hi I am learning Python"

rev = s[::-1]  # -1 for negative step

print(rev)

nohtyP gninrael ma I iH

2. Check if a string is a palindrome.

In [2]:
def is_palindrome(s):
    
    # Convert the string to lowercase to ensure case-insensitive comparison
    s = s.lower()

    # Remove spaces and punctuation from the string
    s = ''.join(c for c in s if c.isalnum())
    # print(s)

    # Compare the original string with its reverse
    print("Yes, it is a palindrome") if s == s[::-1] else print("No, it is not a palindrome")


is_palindrome("Malayalam")
is_palindrome("Never odd or even")
is_palindrome("Learn Python")
is_palindrome("Madam, Iâ€™m Adam.")

Yes, it is a palindrome
Yes, it is a palindrome
No, it is not a palindrome
Yes, it is a palindrome

3. Convert a string to uppercase.

In [3]:
s = "Hi I am learning Python"
us = s.upper()  # Convert the string to uppercase using the upper() method

print(us)

HI I AM LEARNING PYTHON

4. Convert a string to lowercase.

In [4]:
s = "Hi I am learning Python"
ls = s.lower()  # Convert the string to lowercase using the lower() method

print(ls)

hi i am learning python

5. Count the number of vowels in a string.

In [5]:
sent = "Hi, I am learning Python."

num_vow = 0  # counter variable

for x in sent:
    if x.lower() in "aeiou":  # to check the characters regardless of the case
        num_vow += 1

print("There are {} vowels in the given sentence.".format(num_vow))

There are 7 vowels in the given sentence.

6. Count the number of consonants in a string.

In [6]:
sent = "Hi, I am learning Python."

num_con = 0  # counter variable

for x in sent:
    if x.lower() in "bcdfghjklmnpqrstvwxyz":  # to check the characters regardless of the case
        num_con += 1

print("There are {} consonants in the given sentence.".format(num_con))

There are 12 consonants in the given sentence.

7. Remove all whitespaces from a string.

In [7]:
s = "Hi, I am learning Python."
mod = s.replace(" ","")  # removes all whitespaces
print(mod)

Hi,IamlearningPython.

8. Find the length of a string without using the `len()` function.

In [8]:
s = "Hi, I am learning Python."

count = 0

#Iterate through each character in the string
for char in s:
    
    # Increment the count variable by 1 for each character
    count += 1

print("Length of the string is ", count)

Length of the string is  25

9. Check if a string contains a specific word.

In [9]:
s = "Hi, I am learning Python."
w = "learn"
if w in s:
    print(f"The string contains the word '{w}'")
else:
    print(f"The string does not contain the word '{w}'")

The string contains the word 'learn'

10. Replace a word in a string with another word.

In [10]:
s = "Hi, I am learning Python."

s = s.replace("learning", "coding in")

print(s)

Hi, I am coding in Python.

11. Count the occurrences of a word in a string.

In [11]:
s = "Hi, I am learning Python. I am so excited that now I can code."
print(s.count("am"))

2

12. Find the first occurrence of a word in a string.

In [12]:
s = "Hi, I am learning Python. I am  in so excited that now I can code."
print(s.find("in"))

14

13. Find the last occurrence of a word in a string.

In [13]:
s = "Hi, I am learning Python. I am so excited that now I can code."
print(s.rfind("I"))

51

14. Split a string into a list of words.

In [14]:
s = "Hi, I am learning Python. I am so excited that now I can code."
l = s.split()
print(l)

['Hi,', 'I', 'am', 'learning', 'Python.', 'I', 'am', 'so', 'excited', 'that', 'now', 'I', 'can', 'code.']

15. Join a list of words into a string.

In [15]:
mylist = ['I', 'am', 'learning', 'Python.', 'I', 'am', 'so', 'excited', 'that', 'now', 'I', 'can', 'code.']
s = " ".join(mylist)
print(s)

I am learning Python. I am so excited that now I can code.

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [16]:
s = "I am so excited that now I can code."
s = s.replace(" ","_")
print(s)

I_am_so_excited_that_now_I_can_code.

17. Check if a string starts with a specific word or phrase.

In [17]:
s = "I am so excited that now I can code."
print(s.startswith("I"))

True

18. Check if a string ends with a specific word or phrase.

In [18]:
s = "I am so excited that now I can code."
print(s.endswith("code."))

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
s = "Learning data science is awesome"
s = s.title()
print(s)

Learning Data Science Is Awesome

20. Find the longest word in a string.

In [20]:
import string
s = "Learning!!!, data science is awesomes."

#removing punctuations
for x in s:
    if x in string.punctuation:
        s = s.replace(x,"")

#split string to words
words = s.split()

'''finding the length of the longest word
because I may have multiple words with same max_length 
'''

max_length = len(max(words, key=len))


#find all the words with len = max_length
longest_words = [x for x in words if len(x) == max_length]

if len(longest_words) == 1:
    print("Longest word : ", " , ".join(longest_words))
else:
    print("Longest words : ", " , ".join(longest_words))

Longest words :  Learning , awesomes

21. Find the shortest word in a string.

In [21]:
import string
s = "Learning!!!, data science is awesomes."

#removing punctuations
for x in s:
    if x in string.punctuation:
        s = s.replace(x,"")


#split string to words
words = s.split()


'''finding the length of the longest word
because I may have multiple words with same max_length 
'''


min_length = len(min(words, key=len))

#find all the words with len = max_length
shortest_words = [x for x in words if len(x) == min_length]

if len(shortest_words) == 1:
    print("Shortest word : ", " , ".join(shortest_words))
else:
    print("Shortest words : ", " , ".join(shortest_words))

Shortest word :  is

22. Reverse the order of words in a string.

In [22]:
s = "Learning data science is awesomes."

words = s.split()

print(words)

s = " ".join(reversed(words))
print(s)

['Learning', 'data', 'science', 'is', 'awesomes.']
awesomes. is science data Learning

23. Check if a string is alphanumeric.

In [23]:
s = "Ravi24"
print(s.isalnum())

True

24. Extract all digits from a string.

In [24]:
s = "Hi, I am Ravi and I am 24 years old."

# digits = "".join(filter(lambda x: x.isdigit(), s))

digits = []
for x in s:
    if x.isdigit():
        digits.append(x)
        
print(','.join(digits))

2,4

25. Extract all alphabets from a string.

In [25]:
s = "Hi, I am Ravi and I am 24 years old."

# digits = "".join(filter(lambda x: x.isdigit(), s))

alphabets = []
for x in s:
    if x.isalpha():
        alphabets.append(x)
        
print(','.join(alphabets))

H,i,I,a,m,R,a,v,i,a,n,d,I,a,m,y,e,a,r,s,o,l,d

26. Count the number of uppercase letters in a string.

In [26]:
s = "Hi, I am Ravi and I am 24 years old."

count = 0
for char in s:
    if char.isupper():
        count += 1
print("Number of uppercase letters :", count)

Number of uppercase letters : 4

27. Count the number of lowercase letters in a string.

In [27]:
s = "Hi, I am Ravi and I am 24 years old."

count = 0
for char in s:
    if char.islower():
        count += 1
print("Number of lowercase letters :", count)

Number of lowercase letters : 19

28. Swap the case of each character in a string.

In [28]:
s = "Hi, I am Ravi and I am 24 years old."
s= s.swapcase()
print(s)

hI, i AM rAVI AND i AM 24 YEARS OLD.

29. Remove a specific word from a string.

In [29]:
s = "Hi, I am Ravi and I am 24 years old."
s = s.replace(" old", "")
print(s)

Hi, I am Ravi and I am 24 years.

In [30]:
s = "Hi, I am Ravi and I am 24 years old."
word_to_removed = "old."

words = s.split()
filtered_words = [word for word in words if word != word_to_removed]
s = " ".join(filtered_words)
print(s)

Hi, I am Ravi and I am 24 years

30. Check if a string is a valid email address.

### Regular expression pattern for a basic email format: 


| Components | Description |
| --- | --- |
| ^ | Anchors the pattern to the start of the string. |
| [\w\.-]+ | Matches one or more word characters (letters, digits, underscores) or dots or hyphens, which are valid characters in the username part of the email. |
| @ | Matches the "@" symbol. |
| [\w\.-]+ | Matches one or more word characters (letters, digits, underscores) or dots or hyphens, which are valid characters in the domain name part of the email. |
| \\. | Escapes and matches the literal dot (.) symbol. |
| \w+$ | Matches one or more word characters (letters, digits, underscores) at the end of the string (domain suffix, like ".com"). |

In [31]:
import re

pattern = r'^[\w.-]+@[\w.-]+\.\w+$'

email = "tom_naomrem-123.@gmail.com"

# Use the re.match function to check if the email matches the pattern
if re.match(pattern, email):
    print(f"{email} is a valid email address.")
else:
    print(f"{email} is a not valid email address.")

tom_naomrem-123.@gmail.com is a valid email address.

31. Extract the username from an email address string.

In [32]:
import re
email = "tom_naomrem-123.@gmail.com"

pattern = r'^([\w.-]+)@([\w.-]+)\.(\w+)$'

# Use re.search to find the match
match = re.search(pattern, email)

# Check if a match was found
if match:
    print(match.group(1))  # Extract the matched group , 1 for the first parenthesized subgroup
else:
    raise TypeError("Invalid email address")  # Invalid email address format

tom_naomrem-123.

32. Extract the domain name from an email address string.

In [33]:
import re
email = "tom_naomrem-123.@gmail.com"

pattern = r'^([\w.-]+)@([\w.-]+)\.(\w+)$'

# Use re.search to find the match
match = re.search(pattern, email)

# Check if a match was found
if match:
    print(match.group(2))  # Extract the matched group , 1 for the first parenthesized subgroup
else:
    raise TypeError("Invalid email address")  # Invalid email address format

gmail

33. Replace multiple spaces in a string with a single space.

In [34]:
import re

s = "Hi,    I am    Ravi    and I   am   24     years      old."
s = re.sub("\s+", " ", s)
print(s)

Hi, I am Ravi and I am 24 years old.

34. Check if a string is a valid URL.

In [35]:
from urllib.parse import urlparse
# urlparse function allows us to parse URLs and extract their components

def is_valid_url(url):
    try:
        result = urlparse(url)
        
        '''Check if both the result.scheme 
        (URL scheme, like "http", "https", etc.) 
        and result.netloc (network location, 
        like "www.abc.com") are 
        present'''
        
        return all([result.scheme, result.netloc])
    except ValueError:
        return False
    
url1 = "https://www.validexample.com"
url2 = "invalid-url"

print(is_valid_url(url1))
print(is_valid_url(url2))

True
False

35. Extract the protocol (http or https) from a URL string.

In [36]:
from urllib.parse import urlparse
# urlparse function allows us to parse URLs and extract their components
    
url = "https://www.validexample.com"


o = urlparse(url1)

# print(o)
print(o.scheme)
# print(o.netloc)

https

36. Find the frequency of each character in a string.

In [37]:
s = "Hello World"

freq = {}

for char in s:
    if char in freq:
        freq[char] += 1 # Increment the frequency count 
    else:
        freq[char] = 1 #  Initialize the frequency count

for c, f in freq.items():
    print(f"Character: {c}, Frequency: {f}")

Character: H, Frequency: 1
Character: e, Frequency: 1
Character: l, Frequency: 3
Character: o, Frequency: 2
Character:  , Frequency: 1
Character: W, Frequency: 1
Character: r, Frequency: 1
Character: d, Frequency: 1

37. Remove all punctuation from a string.

In [38]:
'''
Import the string module, which contains a string called punctuation containing 
all punctuation characters.
'''
import string

s = "Hello, world! How's it going?"

 # Create a translation table to remove punctuation
translator = str.maketrans("","",string.punctuation)

# Using the table, remove all characters that are present in the string.punctuation.
cleaned = s.translate(translator)

print(cleaned)

Hello world Hows it going

38. Check if a string contains only digits.

In [39]:
s1 = "12345"
s2 = "abc123"
print(s1.isdigit())
print(s2.isdigit())

True
False

39. Check if a string contains only alphabets.

In [40]:
s1 = "abcde"
s2 = "abc123"
print(s1.isalpha())
print(s2.isalpha())

True
False

40. Convert a string to a list of characters.

In [41]:
s = "Hello world, nice to meet you."
charlist = list(s)
print(charlist)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ',', ' ', 'n', 'i', 'c', 'e', ' ', 't', 'o', ' ', 'm', 'e', 'e', 't', ' ', 'y', 'o', 'u', '.']

41. Check if two strings are anagrams.

**Anagram** - a word or phrase made by transposing the letters of another word or phrase.

In [42]:
str1 = "Listen on"
str2 = "No silent"
    
# Remove spaces and convert strings to lowercase for accurate comparison
str1 = str1.replace(" ", "").lower()
str2 = str2.replace(" ", "").lower()
print(str1, str2)

# Sort the characters in both strings and compare to check if they are identical
result = sorted(str1) == sorted(str2)
print(result)

print(sorted(str1))
print(sorted(str2))

listenon nosilent
True
['e', 'i', 'l', 'n', 'n', 'o', 's', 't']
['e', 'i', 'l', 'n', 'n', 'o', 's', 't']

42. Encode a string using a Caesar cipher.

Caesar cipher is a type of substitution cipher that shifts each letter by a fixed number of positions down or up the alphabet.

In [43]:
s = "Hi! I am Guliver 24 years old, I am learning Python from PwSkills DataScience Pro Program."

# Initialize an empty string to store the encoded text.
en_txt = ""
# Initialize The number of positions to shift each letter.
shift = 5

# encoded through each character in the original string
for char in s:
    
    # check if it's an uppercase character
    if char.isupper():
        c_index = ord(char) - ord('A')

        # shift the current character by shift positions
        c_shifted = (c_index + shift) % 26 + ord('A')

        en_char = chr(c_shifted)
        
    # check if it's a lowercase character    
    elif char.islower():
        c_index = ord(char) - ord('a')

        # shift the current character by shift positions
        c_shifted = (c_index + shift) % 26 + ord('a')

        en_char = chr(c_shifted)
        
    # if it's a number, shift its actual value  
    elif char.isdigit():
        c_shifted = (int(char) + shift) % 10
        en_char = str(c_shifted)
        
    # if its neither alphabetical nor a number, just leave it like that
    else:
        en_char = char
    
    # Add the encoded character to the encoded text.    
    en_txt += en_char

print(en_txt)

Mn! N fr Lzqnajw 79 djfwx tqi, N fr qjfwsnsl Udymts kwtr UbXpnqqx IfyfXhnjshj Uwt Uwtlwfr.

43. Decode a Caesar cipher encoded string.

In [44]:
encoded = "Mn! N fr Lzqnajw 79 djfwx tqi, N fr qjfwsnsl Udymts kwtr UbXpnqqx IfyfXhnjshj Uwt Uwtlwfr."

# Initialize an empty string to store the decoded text.
de_txt = ""

# The number of positions to shift each letter.
shift = 5

# encoded through each character in the original string
for char in encoded:
    
    # check if it's an uppercase character
    if char.isupper():
        c_index = ord(char) - ord('A')

        # shift the current character by shift positions
        c_shifted = (c_index - shift) % 26 + ord('A')

        de_char = chr(c_shifted)
        
    # check if it's a lowercase character    
    elif char.islower():
        c_index = ord(char) - ord('a')

        # shift the current character by shift positions
        c_shifted = (c_index - shift) % 26 + ord('a')

        de_char = chr(c_shifted)
        
    # if it's a number, shift its actual value  
    elif char.isdigit():
        c_shifted = (int(char) - shift) % 10
        de_char = str(c_shifted)
        
    # if its neither alphabetical nor a number, just leave it like that
    else:
        de_char = char
    
    # Add the decoded character to the decoded text.    
    de_txt += de_char

print(de_txt)

Hi! I am Guliver 24 years old, I am learning Python from PwSkills DataScience Pro Program.

44. Find the most frequent word in a string.

In [45]:
import re
from collections import Counter

input_string = "Hello world, hello there! How's the world?"

# Remove punctuations and convert to lowercase
# [^\w\s] returns a match for any character except words and spaces
clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

# Split the string into words
words = clean_string.split()

# Use Counter to count word frequencies
word_counter = Counter(words)

# print(word_counter)
# print(type(word_counter))

# Find the most common word
most_common_word = word_counter.most_common(1)[0][0]
# print(type(most_common_word))
print(most_common_word)

hello

45. Find all unique words in a string.

In [46]:
import re
input_string = "Hello world, hello there! How's the world?"

# Remove punctuations and convert to lowercase
clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
print(clean_string)

# Split the string into words
words = clean_string.split()
print(words)

# Convert to a set for uniqueness
unique_words = set(words)
print(unique_words)

hello world hello there hows the world
['hello', 'world', 'hello', 'there', 'hows', 'the', 'world']
{'hello', 'hows', 'the', 'world', 'there'}

46. Count the number of syllables in a string.

In [47]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE) #pattern, string, flag
    # print(vowel_groups)
    
    # Number of vowel group in the word
    length = len(vowel_groups)
    
    # Print the results
    print(f"'{word}' has {length} syllables.")

# Example words
word1 = "Pneumonoultramicroscopicsilicovolcanoconiosis"
word2 = "Banana"
word3 = "Syllable"

# Calling funtion to count syllables
count_syllables(word1)
count_syllables(word2)
count_syllables(word3)

'Pneumonoultramicroscopicsilicovolcanoconiosis' has 17 syllables.
'Banana' has 3 syllables.
'Syllable' has 3 syllables.

47. Check if a string contains any special characters.

In [48]:
import re

def check_special_char(string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    
    # Use the search() method to find a match
    # If there is more than one match, only the first occurrence of the match will be returned
    
    match = pattern.search(string)
    # print(match)
    
    # Print True if a match is found, False otherwise
    print(bool(match))

# Example strings
str1 = "Hello! Jupyter."
str2 = "This is an example"
str3 = "The @ is a special character"

check_special_char(str1)
check_special_char(str2)
check_special_char(str3)

True
False
True

48. Remove the nth word from a string.

In [49]:
import re
import string

s = "Hello world! I am learning Python."

# The n value
n = 6

# Remove Punctuations
clean_s = re.sub(r'[^\w\s]', '', s)

# Split string into words
words = clean_s.split()
# print(words)

# Check if n is within a valid range
if n >= 1 and n <= len(words):
    # if we remove first word, remove the word with the space next to it
    if n == 1:
        new_s = s.replace(words[n-1] + " ", "")
    # if not the first word, remove the word with preceding space
    else:
        new_s = s.replace(" " + words[n-1], "")
    print(new_s)
else:
    raise Exception("Invalid n value!")

Hello world! I am learning.

49. Insert a word at the nth position in a string.

In [50]:
import re
import string

s = "Hello world! I am learning Python through PwSkills Data Science Pro."
word_to_insert = "Yes"

# The n value
n = 5

# Remove Punctuations
clean_s = re.sub(r'[^\w\s]', '', s)

# Split string into words
words = clean_s.split()
# print(words)

# Check if n is within a valid range
if n >= 1 and n <= len(words) + 1:
    # if we need the word at the beginning, concatenate the word at the start with a space 
    if n == 1:
        new_s = word_to_insert + " " + s
        print(new_s)
    # if we need the word at the end, concatenate the word using String Slicing method
    elif n == len(words) + 1:
        new_s = s[:s.find(words[n-2]) + len(words[n-2])] + " " + word_to_insert + s[s.find(words[n-2]) + len(words[n-2]):]
        print(new_s)
    # if we need the word in between, concatenate the word using String Slicing method
    else:
        new_s = s[:s.find(words[n-1])] + word_to_insert + " " + s[s.find(words[n-1]):]
        print(new_s)
    
else:
    raise Exception("Invalid n value!")

Hello world! I am Yes learning Python through PwSkills Data Science Pro.

50. Convert a CSV string to a list of lists.

In [51]:
csv_str = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Split the CSV string into lines
lines = csv_str.split('\n')
# print(lines)
# print(len(lines))

# Initialize an empty list to store the result
result = []

for line in lines:
    # Split each line into fields using comma and a space as the delimiter
    fields = line.split(', ')
    # print(fields)
    
    # Append the fields to the result list as a row
    result.append(fields)
    
for row in result:
    print(row)
    
print(type(result))

['Name', 'Age', 'Country']
['John', '25', 'USA']
['Alice', '30', 'Canada']
['Bob', '22', 'UK']
<class 'list'>

# TOPIC: List Based Practice Problem

1. Create a list with integers from 1 to 10.

In [52]:
l = [1,2,3,4,5,6,7,8,9,10]

2. Find the length of a list without using the `len()` function.

In [53]:
l = [1,2,3,4,5,6,7,8,9,10]

count = 0
for x in l:
    count += 1
print("Length of the list is", count)

Length of the list is 10

3. Append an element to the end of a list.

In [54]:
l = [1,2,3,4,5,6,7,8,9,10]

l.append(11)

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [55]:
l = [1,2,3,4,5,6,7,8,9,10]

index = 2
element = 54

l.insert(index, element)

print(l)

[1, 2, 54, 3, 4, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [56]:
l = [1,2,3,4,5,6,7,8,9,10]

l.remove(5)

print(l)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [57]:
l = [1,2,3,4,5,6,7,8,9,10]

l.pop(2)

print(l)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [58]:
l = [1,2,3,4,5,6,7,8,9,10]

del l[4]

print(l)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [59]:
l = [1,2,3,4,5,6,7,8,9,10]

print(5 in l)

True

8. Find the index of the first occurrence of an element in a list.

In [60]:
fruits = ['apple', 'cherry', 'pineapple', 'cherry', 'banana', 'guava', 'pineapple', 'grapes']

print(fruits.index('pineapple'))

2

9. Count the occurrences of an element in a list.

In [61]:
fruits = ['apple', 'cherry', 'pineapple', 'guava', 'banana', 'guava', 'pineapple', 'guava']

fruits.count('guava')

3

10. Reverse the order of elements in a list.

In [62]:
l = [1,2,3,4,5,6,7,8,9,10]

l.reverse()

print(l)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [63]:
ul = [4,2,5,9,6,1,3,8,10,7]

ul.sort()

print(ul)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

12. Sort a list in descending order.

In [64]:
ul = [4,2,5,9,6,1,3,8,10,7]

ul.sort(reverse = True)

print(ul)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [65]:
even = list(range(2,21,2))
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [66]:
odd = list(range(1,20,2))
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [67]:
l = [1,2,3,4,5,6,7,8,9,10]

sum = 0

for x in l:
    sum += x

print(sum)

55

16. Find the maximum value in a list.

In [68]:
ul = [4,2,5,9,6,1,3,8,10,7]

print(max(ul))

10

17. Find the minimum value in a list.

In [69]:
ul = [4,2,5,9,6,1,3,8,10,7]

print(min(ul))

1

18. Create a list of squares of numbers from 1 to 10.

In [70]:
squares = [x*x for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [71]:
import random

l = [random.randint(1,9) for x in range(10)]  # 1 and 9 both included
print(l)

[5, 3, 7, 4, 6, 9, 7, 8, 6, 6]

20. Remove duplicates from a list.

In [72]:
# initializing list
test_list = [1, 3, 5, 6, 3, 5, 6, 1]
 
# using list comprehension to remove duplicated from list
res = []
[res.append(x) for x in test_list if x not in res]
 
# printing list after removal
print(res)

[1, 3, 5, 6]

21. Find the common elements between two lists.

In [73]:
l1 = [1,2,3,4,5,6]
l2 = [2,4,6,8,10]

c = list(set(l1).intersection(l2))
print("Common elements :", c)

Common elements : [2, 4, 6]

In [74]:
l1 = [1,2,3,4,5,6]
l2 = [2,4,6,8,10]

c = [x for x in l1 if x in l2]
print("Common elements :", c)

Common elements : [2, 4, 6]

22. Find the difference between two lists.

In [75]:
l1 = [1,2,3,4,5,6]
l2 = [2,4,6,8,10]

d1 = list(set(l1).difference(l2))
d2 = list(set(l2).difference(l1))

print("l1 - l2 =", d1)
print("l2 - l1 =", d2)

l1 - l2 = [1, 3, 5]
l2 - l1 = [8, 10]

In [76]:
l1 = [1,2,3,4,5,6]
l2 = [2,4,6,8,10]

d1 = [x for x in l1 if x not in l2]
d2 = [x for x in l2 if x not in l1]

print("l1 - l2 =", d1)
print("l2 - l1 =", d2)

l1 - l2 = [1, 3, 5]
l2 - l1 = [8, 10]

23. Merge two lists.

In [77]:
l1 = [1,2,3,4,5,6]
l2 = [2,4,6,8,10]

l1.extend(l2)

print(l1)

[1, 2, 3, 4, 5, 6, 2, 4, 6, 8, 10]

24. Multiply all elements in a list by 2.

In [78]:
l = [2,4,6,8,10]

twice = [x*2 for x in l]
print(twice)

[4, 8, 12, 16, 20]

In [79]:
l = [2,4,6,8,10]

twice = list(map(lambda x: x*2,l))
print(twice)

[4, 8, 12, 16, 20]

25. Filter out all even numbers from a list.

In [80]:
l = [1,2,3,4,5,6,7,8,9,10]

even = [x for x in l if x%2 == 0]

print(even)

[2, 4, 6, 8, 10]

In [81]:
l = [1,2,3,4,5,6,7,8,9,10]

even = list(filter(lambda x: x%2 == 0,l))

print(even)

[2, 4, 6, 8, 10]

26. Convert a list of strings to a list of integers.

In [82]:
ls = ['1.5', '2', '-3.335', '0.9', '5']

li = [round(float(x)) for x in ls]

print(li)

[2, 2, -3, 1, 5]

27. Convert a list of integers to a list of strings.

In [83]:
l = [5,6,2,7,9]

ls = [str(x) for x in l]
print(ls)

['5', '6', '2', '7', '9']

28. Flatten a nested list.

In [84]:
nl = [2,3,[4,5,6,7]]

f = []
[f.extend(x) if type(x) is list else f.append(x) for x in nl]

print(f)

[2, 3, 4, 5, 6, 7]

29. Create a list of the first 10 Fibonacci numbers.

In [85]:
n = 5

num1 = 0
num2 = 1

for i in range(n):
    print(num1)
    num3 = num1 + num2
    num1 = num2
    num2 = num3

0
1
1
2
3

30. Check if a list is sorted.

In [86]:
l = [8, 1, 3, 2, 5, 9, 7]

sl = sorted(l)

print(l == sl)

False

31. Rotate a list to the left by `n` positions.

In [87]:
l = [1,2,3,4,5,6]

# The n value
n = 2

n = n % len(l)  # Ensure n is within the range of the list size
modified_list = l[n:] + l[:n]

print(modified_list)

[3, 4, 5, 6, 1, 2]

32. Rotate a list to the right by `n` positions.

In [88]:
l = [1,2,3,4,5,6]

# The n value
n = 2

n = n % len(l)  # Ensure n is within the range of the list size
modified_list = l[-n:] + l[:-n]

print(modified_list)

[5, 6, 1, 2, 3, 4]

33. Create a list of prime numbers up to 50.

In [89]:
myrange = range(51)

prime = []

for x in myrange:
    if x < 2:
        continue
    elif x == 2:
        prime.append(x)
    else:
        for i in range(2,x):
            if x % i == 0:
                break
        else:
            prime.append(x) 
            
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [90]:
myrange= range(51)

prime = [x for x in myrange if x >= 2 and all(x % i != 0 for i in range(2, x))]

print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [91]:
l = [1,2,3,4,5,6,7,8,9,10,11]

# The n value
n = 3

c = [l[i:i + n] for i in range(0, len(l), n)]

print(c)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11]]

35. Find the second largest number in a list.

In [92]:
l = [6, 1, 8, 2, 5, 9, 7]

if len(l) < 2:
    print("List should have at least two elements")
    
sorted_l = sorted(l, reverse=True)

second_largest = sorted_l[1]

print(second_largest)

8

36. Replace every element in a list with its square.

In [93]:
l = [1,2,3,4,5]

for i in range(len(l)):
    l[i] = l[i] ** 2
    
print(l)

[1, 4, 9, 16, 25]

In [94]:
l = [1,2,3,4,5]

l = [x**2 for x in l]

print(l)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [95]:
fruits = ["apple", "cherry", "grapes", "kiwi"]

fruits = {fruits[i]:i for i in range(len(fruits))}

print(fruits)

{'apple': 0, 'cherry': 1, 'grapes': 2, 'kiwi': 3}

In [96]:
fruits = ["apple", "cherry", "grapes", "kiwi"]

fruits = {element: index for index, element in enumerate(fruits)}

print(fruits)

{'apple': 0, 'cherry': 1, 'grapes': 2, 'kiwi': 3}

38. Shuffle the elements of a list randomly.

In [97]:
import random

my_list = [1, 2, 3, 4, 5]

# Shuffle the list in-place
random.shuffle(my_list)

print(my_list)

[5, 3, 2, 1, 4]

In [98]:
import random

my_list = [1, 2, 3, 4, 5]

# Create a shuffled copy of the list
shuffled_list = random.sample(my_list, len(my_list))

print(shuffled_list)

[3, 4, 5, 2, 1]

39. Create a list of the first 10 factorial numbers.

In [99]:
def factorial(n):
    if n == 0:
        return 1
    else:
        result = n * factorial(n - 1)
        return result
    
first_10_factorials = [factorial(i) for i in range(10)]

print(first_10_factorials)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [100]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

has_common = False

for x in list1:
    if x in list2:
        has_common = True
        break

if has_common:
    print("The lists have at least one element in common.")
else:
    print("The lists do not have any elements in common.")

The lists have at least one element in common.

In [101]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = set(list1).intersection(set(list2))
# print(common_elements)

if (common_elements):
    print("The lists have at least one element in common.")
else:
    print("The lists do not have any elements in common.")

The lists have at least one element in common.

41. Remove all elements from a list.

In [102]:
l = [1,2,3,4,5]

l.clear()

print(l)

[]

42. Replace negative numbers in a list with 0.

In [103]:
l = [1,-2,3,4,-5]

l = [x if x>=0 else 0 for x in l]

print(l)

[1, 0, 3, 4, 0]

43. Convert a string into a list of words.

In [104]:
s = "I am learning Python"
s = s.split()
print(s)

['I', 'am', 'learning', 'Python']

44. Convert a list of words into a string.

In [105]:
l = ['I', 'am', 'learning', 'Python']

l = ' '.join(l)

print(l)

I am learning Python

45. Create a list of the first `n` powers of 2.

In [106]:
n = 5

l = [2**x for x in range(n)]

print(l)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [107]:
fruits = ["apple", "cherry", "grapes", "kiwi"]

max(fruits, key = len)

'cherry'

47. Find the shortest string in a list of strings.

In [108]:
fruits = ["apple", "cherry", "grapes", "kiwi"]

min(fruits, key = len)

'kiwi'

48. Create a list of the first `n` triangular numbers.

Triangular numbers represent the number of objects that can be arranged in the shape of an equilateral triangle.

Triangular numbers are those that can be represented as a sum of consecutive natural numbers, starting from 1

* Formula:
$T_n = \frac{n * (n+1)}{2}$

In [109]:
n = 5

l = [(i * (i+1))//2 for i in range(1, n + 1)]

print(l)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [110]:
def is_subsequence(subsequence, sequence):
    
    sub_len = len(subsequence)
    
    if sub_len == 0:
        return True  # An empty list is a subsequence of any list.
    
    sub_index = 0  # Index to track the position in the subsequence.
    
    for element in sequence:
        if subsequence[sub_index] == element:
            sub_index += 1
        
        if sub_index == sub_len:
            return True  # The entire subsequence has been found.
    
    return False

# Example usage:
sequence = [1, 2, 3, 4, 5, 6, 7]
subsequence = [2, 4, 5]

if is_subsequence(subsequence, sequence):
    print("The subsequence is present in the sequence.")
else:
    print("The subsequence is not present in the sequence.")

The subsequence is present in the sequence.

50. Swap two elements in a list by their indices.

In [111]:
l = [2,4,6,8,10]

def swap_elements(lst, index1, index2):
    
    # Check if the indices are valid
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        
        # Swap the elements at the specified indices
        lst[index1], lst[index2] = lst[index2], lst[index1]

# Swap elements at index 1 and index 3
swap_elements(l, 1, 3)

print(l)

[2, 8, 6, 4, 10]

# TOPIC: Tuple Based Practice Problem

1. Create a tuple with integers from 1 to 5.

In [112]:
t = (1,2,3,4,5)

print(t)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [113]:
t = (1,2,3,4,5)

print(t[2])

3

3. Find the length of a tuple without using the `len()` function.

In [114]:
t = (1,2,3,4,5)

length = 0

for x in t:
    length += 1

print(length)

5

4. Count the occurrences of an element in a tuple.

In [115]:
t = (1,4,3,4,5,2,4)

print(t.count(4))

3

5. Find the index of the first occurrence of an element in a tuple.

In [116]:
t = (9,4,7,2,7,8,4,5)

print(t.index(7))

2

6. Check if an element exists in a tuple.

In [117]:
t = ('apple', 'grapes', 'kiwi', 'banana')

print('kiwi' in t)

True

7. Convert a tuple to a list.

In [118]:
t = ('apple', 'grapes', 'kiwi', 'banana')

t = list(t)

print(t)

['apple', 'grapes', 'kiwi', 'banana']

8. Convert a list to a tuple.

In [119]:
l = ['apple', 'grapes', 'kiwi', 'banana']

l = tuple(l)

print(l)

('apple', 'grapes', 'kiwi', 'banana')

9. Unpack the elements of a tuple into variables.

In [120]:
t = ('apple', 'grapes', 'kiwi', 'banana')

a,b,c,d = t

print(a)
print(b)
print(c)
print(d)

apple
grapes
kiwi
banana

10. Create a tuple of even numbers from 1 to 10.

In [121]:
t = tuple(x for x in range(1,11) if x % 2 == 0)
print(t)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [122]:
t = tuple(x for x in range(1,11) if x % 2 != 0)
print(t)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [123]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9,10)

t = t1 + t2
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

13. Repeat a tuple three times.

In [124]:
t = (1,2,3,4,5)

t_new = t * 3

print(t_new)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [125]:
t = ()

if not t:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

15. Create a nested tuple.

In [126]:
# Creating a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'))

16. Access the first element of a nested tuple.

In [127]:
# Creating a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'))

# Accessing elements in the nested tuple
print(nested_tuple[0])  # Access the first element

(1, 2, 3)

17. Create a tuple with a single element.

In [128]:
t = (25,)
print(type(t))
print(t[0])

<class 'tuple'>
25

18. Compare two tuples.

In [129]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check element-wise
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check element-wise
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check lexicographically
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check lexicographically
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check lexicographically
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check lexicographically

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [130]:
t = (1,2,3,4)

del t

print(t)

NameError: name 't' is not defined

20. Slice a tuple.

In [131]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


sliced_tuple = my_tuple[2:6]  # Elements from index 2 to 5 (end index is exclusive)

# Print the sliced tuple
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

21. Find the maximum value in a tuple.

In [132]:
# Create a tuple
my_tuple = (3, 2, 4, 1)

# Find the maximum value in the tuple using the 'max()' function
print(max(my_tuple))

4

22. Find the minimum value in a tuple.

In [133]:
# Create a tuple
my_tuple = (3, 2, 4, 1)

# Find the minimum value in the tuple using the 'min()' function
print(min(my_tuple))

1

23. Convert a string to a tuple of characters.

In [134]:
# Create a string
s = "I am learning Python"

# Convert the string to a tuple of characters using tuple() constructor
tuple_of_characters = tuple(s)

print(tuple_of_characters)

('I', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'P', 'y', 't', 'h', 'o', 'n')

24. Convert a tuple of characters to a string.

In [135]:
# Create a tuple of characters
t = ('I', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'P', 'y', 't', 'h', 'o', 'n')

# Convert the tuple of characters to a string using the 'join()' method
s = ''.join(t)

print(s)

I am learning Python

25. Create a tuple from multiple data types.

In [136]:
# Create a tuple with elements of different data types
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [137]:
# Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

27. Sort the elements of a tuple.

In [138]:
# Create a tuple
my_tuple = (5, 2, 8, 1, 3)

# Convert the tuple to a sorted list using sorted() built-in function, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

28. Convert a tuple of integers to a tuple of strings.

In [139]:
# Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings using list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)


print(tuple_of_strings)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [140]:
# Create a tuple of strings
tuple_of_strings = ('10', '20', '30', '40', '50')

# Convert the tuple of strings to a tuple of integers using list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)


print(tuple_of_integers)

(10, 20, 30, 40, 50)

30. Merge two tuples.

In [141]:
# Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [142]:
# Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return tuple(flattened)

# Flatten the nested tuple
flattened_tuple = flatten_tuple(nested_tuple)

# Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [143]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_tuple = tuple(num for num in range(2, 100) if is_prime(num))[:5]

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [144]:
# Function to check if a tuple is a palindrome
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
tuple1 = (1, 2, 3, 2, 1)
tuple2 = (1, 2, 3, 4, 5)

# Print the results
print("tuple1 is a palindrome:", is_palindrome(tuple1))
print("tuple2 is a palindrome:", is_palindrome(tuple2))

tuple1 is a palindrome: True
tuple2 is a palindrome: False

34. Create a tuple of squares of numbers from 1 to 5.

In [145]:
# Create a tuple of squares using a list comprehension
squares_tuple = tuple(x**2 for x in range(1, 6))

print(squares_tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [146]:
# Create a tuple
mytuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers using a list comprehension
filtered_tuple = tuple(num for num in mytuple if not num % 2 == 0)

# Print the filtered tuple
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [147]:
# Create a tuple
t = (1, 2, 3, 4, 5)

# Multiply all elements by 2 using a list comprehension and convert to a tuple
doubled_t = tuple(x*2 for x in t)

print(doubled_t)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [148]:
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100
                                                                # (both included)


# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (18, 54, 36, 4, 44, 66, 31, 27, 95, 72)

38. Check if a tuple is sorted.

In [149]:
# Create a tuple
ori_tuple = (2,3,4,5,6)

# Compare the original tuple with the sorted version of it using equality operator 
print(ori_tuple == tuple(sorted(ori_tuple)))

True

39. Rotate a tuple to the left by `n` positions.

In [150]:
# Create a tuple
t = (1,2,3,4,5)

# The n value
n = 2

# Ensure n is within the range of the tuple size
n = n % len(t)

new_t = t[n:] + t[:n]

print(new_t)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [151]:
# Create a tuple
t = (1,2,3,4,5)

# The n value
n = 6

# Ensure n is within the range of the tuple size
n = n % len(t)

new_t = t[-n:] + t[:-n]

print(new_t)

(5, 1, 2, 3, 4)

41. Create a tuple of the first 5 Fibonacci numbers.

In [152]:
# Initialize the first two Fibonacci numbers
num1 = 0  
num2 = 1

# Create an empty list to store the Fibonacci numbers
fibo = []

for i in range(5):
    fibo.append(num1)  # Append num1 for each iteration on fibo list
    num1, num2 = num2, num1 + num2

print("Tuple of the first 5 Fibonacci numbers", tuple(fibo)) # Convert the list into a tuple and print

Tuple of the first 5 Fibonacci numbers (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [153]:
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas:  1,2,3,4,5

User input tuple: ('1', '2', '3', '4', '5')

43. Swap two elements in a tuple.

In [154]:
# Create a tuple
my_tuple = (1,2,3,4,5)

# Swap elements at indices 1 and 3
ind1 = 1
ind2 = 3

# Convert the tuple into a list to support item assignment
my_list = list(my_tuple)

# Swapping done here using item assignment
my_list[ind1], my_list[ind2] = my_list[ind2], my_list[ind1]

# Convert back to tuple
swapped_tuple = tuple(my_list)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [155]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3

# Swapping done here using list comprehension, and convert back to tuple
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [156]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [157]:
# The n value
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
t = tuple(2**x for x in range(n))

print(t)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [158]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple using max() function with length as key
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

47. Find the shortest string in a tuple of strings.

In [159]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple using min() function with length as key
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

48. Create a tuple of the first `n` triangular numbers.

Triangular numbers represent the number of objects that can be arranged in the shape of an equilateral triangle.

Triangular numbers are those that can be represented as a sum of consecutive natural numbers, starting from 1

* Formula:
$T_n = \frac{n * (n+1)}{2}$

In [160]:
# The n value
n = 10

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1)) #//(floor division) to remove the decimals

print(triangular_numbers_tuple)

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

49. Check if a tuple contains another tuple as a subsequence.

In [161]:
def is_subsequence(sequence, subsequence):
    
    sub_len = len(subsequence)
    
    if sub_len == 0:
        return True  # An empty list is a subsequence of any list.
    
    sub_index = 0  # Index to track the position in the subsequence.
    
    for element in sequence:
        if subsequence[sub_index] == element:
            sub_index += 1
        
        if sub_index == sub_len:
            return True  # The entire subsequence has been found.
    
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
# Subsequence tuple
sub_tuple = (2, 4, 7)

if is_subsequence(main_tuple, sub_tuple):
    print("sub_tuple is a subsequence of main_tuple")
else:
    print("sub_tuple is not a subsequence of main_tuple")

sub_tuple is a subsequence of main_tuple

50. Create a tuple of alternating 1s and 0s of length `n`.

In [162]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# TOPIC: Set Based Practice Problem

1. Create a set with integers from 1 to 5.

In [163]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

2. Add an element to a set.

In [164]:
my_set = {1, 2, 3, 4, 5}

my_set.add(6)

print(my_set)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [165]:
my_set = {1, 2, 3, 4, 5}

my_set.remove(3)

print(my_set)

{1, 2, 4, 5}

In [166]:
my_set = {1, 2, 3, 4, 5}

my_set.pop()

print(my_set)

{2, 3, 4, 5}

4. Check if an element exists in a set.

In [167]:
my_set = {1, 2, 3, 4, 5}

print(3 in my_set)

True

5. Find the length of a set without using the `len()` function.

In [168]:
my_set = {1, 2, 3, 4, 5, 6}

count = 0
for i in my_set:
    count += 1

print(count)

6

6. Clear all elements from a set.

In [169]:
my_set = {1, 2, 3, 4, 5, 6}

my_set.clear()

print(my_set)

set()

7. Create a set of even numbers from 1 to 10.

In [170]:
even_set = {x for x in range(1,11) if x % 2 == 0}

print(even_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [171]:
even_set = {x for x in range(1,11) if x % 2 != 0}

print(even_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [172]:
# Create two sets
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7,8}

# Findig the union of the two sets using union() method
set3 = set1.union(set2)

print("Union of set1 and set2 :",set3)

Union of set1 and set2 : {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [173]:
# Create two sets
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7,8}

# Findig the intersection of the two sets using intersection() method
set3 = set1.intersection(set2)

print("Intersection of set1 and set2 :",set3)

Intersection of set1 and set2 : {3, 4, 5}

11. Find the difference between two sets.

In [174]:
# Create two sets
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7,8}

# Findig the difference between the sets using the difference() method
'''The difference between two sets contains all the elements that are present 
in the first set but not in the second set.'''

set3 = set1.difference(set2)

print("Difference :",set3)

Difference : {1, 2}

12. Check if a set is a subset of another set.

In [175]:
# Create two sets
set1 = {3,4,5}
set2 = {3,4,5,6,7,8}

# Use the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)

print("set1 is a subset of set2 :",is_subset)

set1 is a subset of set2 : True

13. Check if a set is a superset of another set.

In [176]:
# Create two sets
set1 = {1,2,3,4,5}
set2 = {3,4,5}

# Use the "issuperset()" method to check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

print("set1 is a superset of set2 :",is_superset)

set1 is a superset of set2 : True

14. Create a set from a list.

In [177]:
# Create a list of elements
mylist = [2, 4, 1, 4, 3, 2, 5]

# Use the set() constructor to convert the list into a set
# This automatically removes duplicates and creates a set with unique elements
myset = set(mylist)

print(myset)

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [178]:
# Create a set with some elements
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

# Print the original set
print(my_set)

# Convert the set to a list using the list() constructor
my_list = list(my_set)

print(my_list)

{1, 2, 3, 4, 5, 6, 9}
[1, 2, 3, 4, 5, 6, 9]

16. Remove a random element from a set.

In [179]:
import random  # import the random module

# Create a set with some elements
my_set = {1,2,3,4,5,6,7,8,9}

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

print(my_set)

{1, 2, 4, 5, 6, 7, 8, 9}

17. Pop an element from a set.

In [180]:
# Create a set with some elements
my_set = {4,6,3,2,8,7}

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print(popped_element)

#Print the set after popping an element
print(my_set)

2
{3, 4, 6, 7, 8}

18. Check if two sets have no elements in common.

In [181]:
# Define two sets
set1 = {1, 2, 3, 4}
set2 = {3, 6, 7, 8}

# Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

if common_elements:
    print("They have common elements")
else:
    print("They have no common elements")

They have common elements

19. Find the symmetric difference between two sets.

In [182]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the symmetric_difference() method
'''The symmetric_difference() method returns a set that contains all items from both sets, 
but not the items that are present in both sets.'''
symmetric_difference = set1.symmetric_difference(set2)

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [183]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Update set1 with elements from set2
set1.update(set2)

print("Updated set1 :",set1)

Updated set1 : {1, 2, 3, 4, 5, 6, 7, 8}

21. Create a set of the first 5 prime numbers.

In [184]:
# Function to check if a number is prime
def isprime(n):
    if n<2:
        return False
    else:
        for i in range(2, int(n ** 0.5) + 1):
            if n % i == 0:
                return False
        return True
    
# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
number = 1

# Loop until we have found the first 5 prime numbers
while len(prime_set)<5:
    # Check if the current number is prime using the is_prime function
    if isprime(number):
        # If the number is prime, add it to the prime_set
        prime_set.add(number)
    # Move on to the next number for the next iteration
    number += 1

# Print the set of prime numbers
print(prime_set)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [185]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [186]:
# Create a frozen set using the 'frozenset' constructor and passing the tuple of elements
my_frozen_set = frozenset((1,2,3,4,5))

print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

In [187]:
# Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset([1,2,3,4,5])

print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

In [188]:
# Create a frozen set using the 'frozenset' constructor and passing the set of elements
my_frozen_set = frozenset({1,2,3,4,5})

print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [189]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}

# Use the `isdisjoint()` method to check if the sets are disjoint
set1.isdisjoint(set2)

True

25. Create a set of squares of numbers from 1 to 5.

In [190]:
sq_set = set(x**2 for x in range(1,6)) # using list comprehension and turn back to set

print(sq_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [191]:
my_set = {1,2,3,4,5,6,7,8,9,10}

odd_set = set(filter(lambda x : x % 2 != 0, my_set))

print(odd_set)

{1, 3, 5, 7, 9}

In [192]:
my_set = {1,2,3,4,5,6,7,8,9,10}

odd_set = set(x for x in my_set if x % 2 != 0)

print(odd_set)

{1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [193]:
my_set = {1,2,3,4,5,6,7,8,9,10}

doubled_set = set(x * 2 for x in my_set)

print(doubled_set)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

28. Create a set of random numbers.

In [194]:
import random #import random module

rand_set = set(random.randint(1,100) for _ in range(7))

print(rand_set)

{34, 37, 79, 53, 21, 27, 61}

29. Check if a set is empty.

In [195]:
set1 = {1,2,3,4}

if set1:
    print("set1 is not empty")
else:
    print("set1 is empty")

set1 is not empty

30. Create a nested set (hint: use frozenset).

In [196]:
# Create the inner sets
set1 = {1,2,3}
set2 = {2,3,4,5}

# Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

print(nested_set)

{frozenset({1, 2, 3}), frozenset({2, 3, 4, 5})}

31. Remove an element from a set using the discard method.

In [197]:
# Create a set of elements
my_set = {1,2,3,4,5}

# Define the element to be removed
element_to_remove = 4

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

print(my_set)

{1, 2, 3, 5}

32. Compare two sets.

In [198]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print()
print("set1 is a subset of set2:", is_subset)
print("set1 is a superset of set2:", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}

set1 is a subset of set2: False
set1 is a superset of set2: False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [199]:
# Define the string
s = "Hello"

# Use the set() constructor to create a set from the characters in the string
my_set = set(s)

print(my_set)

{'o', 'l', 'H', 'e'}

34. Convert a set of strings to a set of integers.

In [200]:
# Create a set of strings
string_set = {"12", "23", "56"}

# Convert the set of strings to set of integers using list comprehension
integer_set = set(int(x) for x in string_set)

print(integer_set)

{56, 12, 23}

35. Convert a set of integers to a set of strings.

In [201]:
# Create a set of strings
int_set = {12, 23, 56}

# Convert the set of integers to set of strings using list comprehension
str_set = set(str(x) for x in int_set)

print(str_set)

{'23', '56', '12'}

36. Create a set from a tuple.

In [202]:
# Create a tuple
my_tuple = (1,2,1,4,3,4,5)

# Convert the tuple to a set using set() constuctor
# sets only contain unique elements, duplicate values are automatically removed.
my_set = set(my_tuple)

print(my_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [203]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple using tuple() constructor
my_tuple = tuple(my_set)

print(my_tuple)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [204]:
# Create a set
my_set = {4,2,8,1,6,7}

max_val = max(my_set)

print(max_val)

8

39. Find the minimum value in a set.

In [205]:
# Create a set
my_set = {4,2,8,1,6,7}

max_val = min(my_set)

print(max_val)

1

40. Create a set from user input.

In [206]:
# Get input from the user, elements separated by a comma
user_input = input("Enter the elements of the set separated by a comma")

# Get a list by splitting the input with delimeter as comma
user_input_list = user_input.split(',')

# Convert the list to a set
user_set = set(user_input_list)

print(user_set)

Enter the elements of the set separated by a comma 1,2,3,4,5

{'5', '4', '1', '3', '2'}

41. Check if the intersection of two sets is empty.

In [207]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [208]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
num1, num2 = 0, 1

while len(fibonacci_set)<5:
    fibonacci_set.add(num1)
    num1, num2 = num2, num1 + num2
    
print(fibonacci_set)

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [209]:
# Define a list with duplicates
my_list = [2, 4, 6, 2, 3, 6]

# Convert the list to a set
# A set contains only unique elements from 'my_list'
my_set = set(my_list)

print(my_set)

{2, 3, 4, 6}

44. Check if two sets have the same elements, regardless of their count.

In [210]:
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Convert the sets to lists and sort them
sortedlist1 = sorted(list(set1))
sortedlist2 = sorted(list(set2))

# Compare the sorted lists to check if they are equal
if sortedlist1 == sortedlist2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [211]:
# The n value
n = 6

# Create a set of first n powers of 2 using the exponentiation operator ** and list comprehension
powers_set = set(2**n for n in range(n))

print(powers_set)

{32, 1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [212]:
# Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

#Convert the list to a set for efficient comparison
list_to_set = set(my_list)

common_elements = my_set.intersection(list_to_set)

# Print the common elements
print("Common elements:", common_elements)

Common elements: {9, 12, 7}

47. Create a set of the first `n` triangular numbers.

Triangular numbers represent the number of objects that can be arranged in the shape of an equilateral triangle.

Triangular numbers are those that can be represented as a sum of consecutive natural numbers, starting from 1

* Formula:
$T_n = \frac{n * (n+1)}{2}$

In [213]:
# The n value
n = 10

# Create a set of first n traingular numbers using list comprehension
triangular_set = set((x * (x+1))//2 for x in range(1,n+1))

print(triangular_set)

{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

48. Check if a set contains another set as a subset.

In [214]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [215]:
# Define the desired length n
n = 10

# Create a set of alternating 1s and 0s of length n using list comprehension
alternating_set = set(x % 2 for x in range(n))

print(alternating_set)

{0, 1}

50. Merge multiple sets into one.

In [216]:
# Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Use the union() method to merge sets
merged_set = set1.union(set2, set3)

print(merged_set)

{1, 2, 3, 4, 5, 6, 7}

In [217]:
# Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Use the | operator to merge sets
merged_set = set1 | set2 | set3

print(merged_set)

{1, 2, 3, 4, 5, 6, 7}